
<div class="viewer-wrapper">
  <div class="uv viewer">
  <% iiif_service = Californica::IiifService.new() %>
  <iframe
    class='media-viewer-iframe'
    src= "<%= iiif_service.src(presenter.iiif_manifest_url) %>"
    width='1042px'
    height='391px'
    id='media-viewer-iframe'
    allowfullscreen
    frameborder='0'>
  </iframe>
  <p> "<%= ENV['RAILS_HOST'] %>" </p>
  </div>
</div>
