<div class='media-viewer-container'>
  <% iiif_service = Californica::IiifService.new() %>
  <iframe
    class='media-viewer-iframe'
    src= "<%= iiif_service.src(presenter.iiif_manifest_url) %>"
    width='924px'
    height='668px'
    id='media-viewer-iframe'
    allowfullscreen
    frameborder='0'>
  </iframe>
</div>
