/* ...
 *= require jquery-ui
 *= require select2
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap-default-overrides";
@import 'bootstrap';
@import 'blacklight/blacklight';
@import "font-awesome";
@import "blacklight_gallery/gallery";
@import "blacklight_gallery/masonry";
@import "blacklight_gallery/slideshow";
@import "blacklight_gallery/osd_viewer";
@import 'hyrax/hyrax';
@import 'variables';

.brand-logo img {
  height: 28px;
  margin-top: -4px;
  margin-right: 0.225em;
}

.navbar-collapse, .navbar-brand, .navbar-header, .site-footer {
  background: $californica-yellow;
}

#user_utility_links {
  background: $californica-yellow;
}

.navbar-nav, .nav-item, .nav-link, .searchbar-right label {
  color: $ucla-blue-darker;
}

#californica-institution_name {
  font-family: TimesNewRoman,"Times New Roman",Times,Baskerville,Georgia,serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: $ucla-blue-darker;
}
