<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <span class="brand-logo"><%= image_tag("dce-icon.png") %></span>
  <span id="tenejo-institution_name"><%= t('tenejo.institution_name') %></span>
</a>
