<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <span class="brand-logo"><%= image_tag("ucla-library-logo.png") %></span>
  <span id="californica-institution_name"><%= t('californica.institution_name') %></span>
</a>
