<p id="notice"><%= notice %></p>

<h2>CSV Imports</h2>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @csv_imports.each do |csv_import| %>
      <tr>
        <td><%= csv_import.id %></td>
        <td><%= link_to 'Show', csv_import %></td>
      </tr>
    <% end %>
  </tbody>
</table>

